version: '3.8'

services:
  terraform-localstack:
    image: hashicorp/terraform:0.12.29
    entrypoint: ''
    command: ./wait-and-apply.sh
    working_dir: /opt/tf-localstack
    volumes:
      - ./environment/tf-localstack:/opt/tf-localstack
    depends_on:
      - localstack
  terraform-mysql:
    image: hashicorp/terraform:0.12.29
    entrypoint: ''
    command: ./wait-and-apply.sh
    working_dir: /opt/tf-mysql
    volumes:
      - ./environment/tf-mysql:/opt/tf-mysql
    depends_on:
      - mysql
  flyway-migrate:
    image: flyway/flyway:6.5.5
    command: -url=jdbc:mysql://mysql -schemas=kstatus -user=kstatus -password=kstatus123 -connectRetries=60 migrate -q
    volumes:
      - ./flyway/migrations:/flyway/sql
    depends_on:
      - mysql
  swagger-ui:
    image: swaggerapi/swagger-ui:v3.32.5
    ports:
      - 8082:8080
    volumes:
      - ./openapi.yaml:/openapi.yaml
    environment:
      SWAGGER_JSON: /openapi.yaml