version: '3.8'

services:
  mysql:
    image: mariadb:10.5
    ports:
      - 3306:3306
    environment:
      - "MYSQL_ROOT_USER=root"
      - "MYSQL_ROOT_PASSWORD=root"
    healthcheck:
      test: "mysql --user=root --password=root --execute 'show databases;'"
      interval: 15s
      timeout: 30s
      retries: 3
  localstack:
    image: localstack/localstack:0.11.4
    container_name: localstack
    ports:
      - '4563-4599:4563-4599'
      - '8055:8080'
    environment:
      - SERVICES=sqs
      - DEBUG=1
    volumes:
      - './.localstack:/tmp/localstack'
      - '/var/run/docker.sock:/var/run/docker.sock'